src/flows/Approve_TSANetCase_Request_Auto.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApproveIncomingRequest</name>
        <label>Approve Incoming Request</label>
        <locationX>462</locationX>
        <locationY>791</locationY>
        <actionName>TSANetInvocableApproveRequestService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>CaseRequest</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AssignCaseRequestData</name>
        <label>Assign Case Request Data</label>
        <locationX>462</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CaseRequest.caseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRequest.engineerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRequest.engineerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Owner:User.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRequest.engineerPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Owner:User.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRequest.nextSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ex: Our assigned engineer will contact you.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApproveIncomingRequest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApproveOrDecline</name>
        <label>Approve or Decline?</label>
        <locationX>648</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isApprove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tsanet_connect__SubmittedCompanyId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.tsanet_connect__TSANetConfiguration__c.tsanet_connect__companyId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCaseRequestData</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <interviewLabel>Approve TSANetCase Request ( Auto ) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Approve TSANetCase Request ( Auto )</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>656</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApproveOrDecline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPEN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <object>TSANetCase__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRequest</name>
        <apexClass>tsanet_connect__TSANetCaseRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
