src/flows/ApproveTSANetCollaborationRequest.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApproveRequest</name>
        <label>Approve Request</label>
        <locationX>571</locationX>
        <locationY>700</locationY>
        <actionName>TSANetInvocableApproveRequestService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>TSANetCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>CaseRequest</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Case_Request_Data</name>
        <label>Assign Case Request Data</label>
        <locationX>571</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>CaseRequest.caseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSANetCase.tsaNetCaseId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRequest.engineerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSANetCase.Case__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRequest.engineerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOwnerName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRequest.engineerPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSANetCase.Case__r.Owner:User.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRequest.nextSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionalDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificationScreen</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CaseOwnerName</name>
        <dataType>String</dataType>
        <expression>{!TSANetCase.Case__r.Owner:User.FirstName} + &apos; &apos; + {!TSANetCase.Case__r.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>Approve TSANet Collaboration Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve TSANet Collaboration Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>TSANetCase</name>
        <label>TSANetCase</label>
        <locationX>572</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_Collaboration_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TSANetCase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Approve_Collaboration_Request</name>
        <label>Approve Collaboration Request</label>
        <locationX>571</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Case_Request_Data</targetReference>
        </connector>
        <fields>
            <name>AdditionalDetails</name>
            <dataType>String</dataType>
            <fieldText>Additional Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>570</locationX>
        <locationY>826</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RequestResult</name>
            <fieldText>&lt;p&gt;Your collaboration request: {!ApproveRequest.caseRecord.receiverCaseNumber} has been approved successfully!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Details:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status: &lt;/strong&gt;{!ApproveRequest.caseRecord.status}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Priority: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ApproveRequest.caseRecord.priority}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Next Steps: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ApproveRequest.caseRecord.priorityNote}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VerificationScreen</name>
        <label>Verification Screen</label>
        <locationX>570</locationX>
        <locationY>576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ApproveRequest</targetReference>
        </connector>
        <fields>
            <name>TSANetCaseVerify</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Case Number: &lt;/strong&gt;{!CaseRequest.caseNumber}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Engineer:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;{!CaseRequest.engineerName}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Engineer Email:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;{!CaseRequest.engineerEmail}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Engineer Phone:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;{!CaseRequest.engineerPhone}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next Steps: &lt;/strong&gt;{!CaseRequest.nextSteps}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TSANetCase</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseRequest</name>
        <apexClass>tsanet_connect__TSANetCaseRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
