src/flows/CreateTSANetNote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_TSANet_Note</name>
        <label>Create TSANet Note</label>
        <locationX>571</locationX>
        <locationY>811</locationY>
        <actionName>TSANetInvocableNoteService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TSANetNoteCreated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>TSANetCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>note</name>
            <value>
                <elementReference>TSANetNote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TSANetInvocableNoteService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignNoteJSON</name>
        <label>Assign Note JSON</label>
        <locationX>571</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>TSANetNote.summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSANetNote.priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TSANetCase.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSANetNote.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoteDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSANetNote.subbmitedBy.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatorFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSANetNote.subbmitedBy.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatorLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoteValidation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CreatorFirstName</name>
        <dataType>String</dataType>
        <expression>IF({!TSANetCase.Case__r.OwnerId} != NULL, {!TSANetCase.Case__r.Owner:User.FirstName}, {!$User.FirstName})</expression>
    </formulas>
    <formulas>
        <name>CreatorLastName</name>
        <dataType>String</dataType>
        <expression>IF({!TSANetCase.Case__r.OwnerId} != NULL, {!TSANetCase.Case__r.Owner:User.LastName}, {!$User.LastName})</expression>
    </formulas>
    <interviewLabel>Create TSANet Note Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create TSANet Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>TSANetCase</name>
        <label>TSANetCase</label>
        <locationX>572</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoteDetailsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TSANetCase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NoteDetailsScreen</name>
        <label>Note Details Screen</label>
        <locationX>571</locationX>
        <locationY>375</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignNoteJSON</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TSANetCase.Case__r.Subject</elementReference>
            </defaultValue>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NoteDetails</name>
            <fieldText>Note Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoteValidation</name>
        <label>Note Validation</label>
        <locationX>571</locationX>
        <locationY>671</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_TSANet_Note</targetReference>
        </connector>
        <fields>
            <name>CheckNoteDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Summary&lt;/strong&gt;: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!TSANetNote.summary}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Description&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!TSANetNote.description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Creator: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!CreatorFirstName} {!CreatorLastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Note</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TSANetNoteCreated</name>
        <label>TSANetNoteCreated</label>
        <locationX>570</locationX>
        <locationY>958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TSANetNoteResult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;TSANet Note has been created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TSANetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSANetNote</name>
        <apexClass>tsanet_connect__TSANetNoteForm</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
