src/flows/CreateTSANetCollaborationCase.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CreateCollaborationCase</name>
        <label>Create Collaboration Case</label>
        <locationX>568</locationX>
        <locationY>1274</locationY>
        <actionName>TSANetInvocableCreateCollaborationCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>form</name>
            <value>
                <elementReference>CompanyForm</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetCompanyFrom</name>
        <label>Get Company From</label>
        <locationX>570</locationX>
        <locationY>681</locationY>
        <actionName>TSANetInvocableGetFormService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_customer_data_to_list</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>companyIds</name>
            <value>
                <elementReference>SelectedCompany</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Searching</name>
        <label>Searching</label>
        <locationX>572</locationX>
        <locationY>427</locationY>
        <actionName>TSANetInvocableGetCompanyService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SelectCompany</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>companyName</name>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TSANetCompanies</assignToReference>
            <name>companies</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_customer_data_to_list</name>
        <label>Assign customer data to list</label>
        <locationX>686</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>CustomerDataList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyFrom.form.customerData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollaborationForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vars</name>
        <label>Assign Vars</label>
        <locationX>1036</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>CustomerData.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPopulateCustomerData.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerData.fieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPopulateCustomerData.fieldName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerData.section</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerData.section</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerData.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerDataValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomFieldVerify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormattedCustomField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerDataAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerDataAssignment</name>
        <label>Customer Data Assignment</label>
        <locationX>1036</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>CustomFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPopulateCustomerData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FieldsAssignment</name>
        <label>Fields Assignment</label>
        <locationX>567</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>CompanyForm.problemSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyForm.problemDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyForm.testSubmission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyFrom.form.testSubmission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyForm.documentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyFrom.form.documentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyForm.internalCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyForm.casePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyForm.customerData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyScreen</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>CompanyChoice</name>
        <collectionReference>TSANetCompanies</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CustomerDataValue</name>
        <dataType>String</dataType>
        <expression>Case({!LoopPopulateCustomerData.fieldName}, 
&apos;Customer Name&apos;, {!CaseRecord.Contact.FirstName} + &apos; &apos; + {!CaseRecord.Contact.LastName}, 
&apos;Customer Email&apos;, {!CaseRecord.Contact.Email},
&apos;Customer Company&apos;, {!CaseRecord.Account.Name},
&apos;Customer Phone Including Country Code&apos;, {!CaseRecord.Contact.Phone},
&apos;Customer Case # with Demo - VMware (Optional)&apos;, {!CustomerCaseOptional},
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>FormattedCustomField</name>
        <dataType>String</dataType>
        <expression>{!LoopPopulateCustomerData.fieldName} + &apos; : &apos; + {!CustomerDataValue} + &apos;; &apos;</expression>
    </formulas>
    <interviewLabel>Create TSANet Collaboration Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create TSANet Collaboration Case</label>
    <loops>
        <name>LoopPopulateCustomerData</name>
        <label>Loop Populate Customer Data</label>
        <locationX>839</locationX>
        <locationY>878</locationY>
        <collectionReference>CustomerDataList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FieldsAssignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CaseRecord</name>
        <label>Case Record</label>
        <locationX>572</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TSANetSearch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CollaborationForm</name>
        <label>Collaboration Form</label>
        <locationX>567</locationX>
        <locationY>870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopPopulateCustomerData</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CasePriority</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Priority</elementReference>
            </defaultValue>
            <fieldText>Case Priority</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </defaultValue>
            <fieldText>Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CustomerCaseOptional</name>
            <dataType>String</dataType>
            <fieldText>Customer Case # (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>568</locationX>
        <locationY>1414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showResult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Your collaboration case {!CreateCollaborationCase.caseRecord.id} has been created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectCompany</name>
        <label>Select Company</label>
        <locationX>572</locationX>
        <locationY>546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCompanyFrom</targetReference>
        </connector>
        <fields>
            <name>SelectedCompany</name>
            <choiceReferences>CompanyChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Company</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TSANetSearch</name>
        <label>TSANet Search</label>
        <locationX>572</locationX>
        <locationY>304</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Searching</targetReference>
        </connector>
        <fields>
            <name>CompanyName</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VerifyScreen</name>
        <label>VerifyScreen</label>
        <locationX>568</locationX>
        <locationY>1137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateCollaborationCase</targetReference>
        </connector>
        <fields>
            <name>VerifyText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please ensure that all fields are checked before submission!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckCompany</name>
            <fieldText>&lt;p&gt;Collaborate with: {!SelectedCompany}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckCaseNumber</name>
            <fieldText>&lt;p&gt;CaseNumber: {!CompanyForm.internalCaseNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckSubject</name>
            <fieldText>&lt;p&gt;Subject: {!CompanyForm.problemSummary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckDescription</name>
            <fieldText>&lt;p&gt;Description: {!CompanyForm.problemDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CFV</name>
            <fieldText>&lt;p&gt;{!CustomFieldVerify}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Collaboration Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CaseRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CompanyForm</name>
        <apexClass>tsanet_connect__TSANetCompanyForm</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerData</name>
        <apexClass>tsanet_connect__TSANetCustomerData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerDataList</name>
        <apexClass>tsanet_connect__TSANetCustomerData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomFields</name>
        <apexClass>tsanet_connect__TSANetCustomerData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomFieldVerify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSANetCompanies</name>
        <apexClass>tsanet_connect__TSANetCompanyOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
