src/flows/TSANetNoteTriggerHandler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateTSANetNote</name>
        <label>Create TSANetNote</label>
        <locationX>499</locationX>
        <locationY>1056</locationY>
        <actionName>TSANetInvocableNoteService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>Get_TSANetCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>note</name>
            <value>
                <elementReference>NoteForm</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TSANetInvocableNoteService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignNoteDetails</name>
        <label>Assign Note Details</label>
        <locationX>499</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>NoteForm.summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>test summary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteForm.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>test desc</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteForm.priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LOW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteForm.subbmitedBy.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Orest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteForm.subbmitedBy.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vasylenko</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TSANetCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Response</name>
        <label>Response</label>
        <locationX>648</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isReplied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tsanet_connect__Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tsanet_connect__CreatorName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SYSTEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRelatedCase</targetReference>
            </connector>
            <label>Is Replied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Body</name>
        <dataType>String</dataType>
        <expression>&apos;You got a new note - &apos; + {!$Record.tsanet_connect__Summary__c} + &apos;. &apos; +
{!$Record.tsanet_connect__Description__c}</expression>
    </formulas>
    <formulas>
        <name>recipientId</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.tsanet_connect__TSANetCase__r.tsanet_connect__Case__r.Owner:User.Id} != NULL, {!$Record.tsanet_connect__TSANetCase__r.tsanet_connect__Case__r.Owner:User.Id}, 
IF({!$Record.tsanet_connect__TSANetCase__r.Owner:User.Id} != NULL, {!$Record.tsanet_connect__TSANetCase__r.Owner:User.Id} , {!$User.Id}))</expression>
    </formulas>
    <interviewLabel>TSANet Note Trigger Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>TSANet Note Trigger Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_TSANetCase</name>
        <label>Get TSANetCase</label>
        <locationX>499</locationX>
        <locationY>898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTSANetNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TSANetCase__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TSANetCase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRelatedCase</name>
        <label>Update Related Case</label>
        <locationX>499</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>AssignNoteDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TSANetCase__r.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isNotified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TSANetNote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TSANetCase__c</objectType>
    </variables>
    <variables>
        <name>NoteForm</name>
        <apexClass>tsanet_connect__TSANetNoteForm</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
