src/flows/TSANetCollaborationRequestTriggerHandler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApproveIncomingCollaborationRequest</name>
        <label>Approve Incoming Collaboration Request</label>
        <locationX>654</locationX>
        <locationY>1061</locationY>
        <actionName>TSANetInvocableApproveRequestService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetNotificationType</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>TSANetCaseRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TSANetInvocableApproveRequestService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendNotification</name>
        <label>Send Notification</label>
        <locationX>653</locationX>
        <locationY>1522</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>TSANetCase Confirmed Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Your case has been successfully confirmed and is now being processed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddRecipient</name>
        <label>Add Recipient</label>
        <locationX>653</locationX>
        <locationY>1375</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TSANetCaseRequest</name>
        <label>Assign TSANetCaseRequest</label>
        <locationX>655</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>TSANetCaseRequest.caseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_Case.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSANetCaseRequest.engineerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_Case.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSANetCaseRequest.engineerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_Case.Owner:User.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSANetCaseRequest.engineerPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_Case.Owner:User.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSANetCaseRequest.nextSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We will reach out to you soon.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApproveIncomingCollaborationRequest</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CasePriority</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.tsanet_connect__Priority__c}, &apos;LOW&apos;, &apos;Low&apos;, &apos;MEDIUM&apos;, &apos;Medium&apos;, &apos;HIGH&apos;, &apos;High&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>TSANetCollaborationRequestTriggerHandler {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>TSANet Collaboration Request Trigger Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSalesforceCaseRecord</name>
        <label>Create Salesforce Case Record</label>
        <locationX>655</locationX>
        <locationY>459</locationY>
        <connector>
            <targetReference>AttachCaseToCollaborationRequest</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.FullSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Salesforce_Case</name>
        <label>Get Salesforce Case</label>
        <locationX>655</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_TSANetCaseRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSalesforceCaseRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>Get Notification Type</label>
        <locationX>654</locationX>
        <locationY>1220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddRecipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TSANet_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AttachCaseToCollaborationRequest</name>
        <label>Attach Case to Collaboration Request</label>
        <locationX>655</locationX>
        <locationY>625</locationY>
        <connector>
            <targetReference>Get_Salesforce_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CreateSalesforceCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>529</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CreateSalesforceCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <object>TSANetCase__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSANetCaseRequest</name>
        <apexClass>tsanet_connect__TSANetCaseRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
