src/flows/TSANetNoteTriggerHandler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Response</name>
        <label>Response</label>
        <locationX>648</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isReplied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tsanet_connect__Description__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRelatedCase</targetReference>
            </connector>
            <label>Is Replied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Body</name>
        <dataType>String</dataType>
        <expression>&apos;You got a new note - &apos; + {!$Record.tsanet_connect__Summary__c} + &apos;. &apos; +
{!$Record.tsanet_connect__Description__c}</expression>
    </formulas>
    <formulas>
        <name>recipientId</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.tsanet_connect__TSANetCase__r.tsanet_connect__Case__r.Owner:User.Id} != NULL, {!$Record.tsanet_connect__TSANetCase__r.tsanet_connect__Case__r.Owner:User.Id}, 
IF({!$Record.tsanet_connect__TSANetCase__r.Owner:User.Id} != NULL, {!$Record.tsanet_connect__TSANetCase__r.Owner:User.Id} , {!$User.Id}))</expression>
    </formulas>
    <interviewLabel>TSANet Note Trigger Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>TSANet Note Trigger Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRelatedCase</name>
        <label>Update Related Case</label>
        <locationX>499</locationX>
        <locationY>553</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TSANetCase__r.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isNotified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TSANetNote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
